

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

body{
  width: 100%;
  background:  rgb(230, 230, 230);
  transition: .5s all;
}

.linea{
  width: 80%;
  display: block;
  height: 1px;
  background-color: #4b4b4d;
  margin: 30px auto 10px;
}

.line {
  position: absolute;
  border-top: 2px solid rgba(44, 40, 34, 0.00);
  height: 2px;
  width: 155px;
  padding: 0;
  margin: auto 30px;
  border-radius: 10px;
  transform: translateY(20px);
  transform: translateX(-20px);
  transition: .5s all;


}


/*                  Botón switch lenguajes                       */

.languages{
  float:right;
  transform: translateY(10px);
  margin-top:25px;
  opacity:0;
  transition:1s all;
  display: block;
  margin-right: 25px;
}

.switch {
    
    position: relative;
    display: inline-block;
    margin: 10px 5px;
    margin-bottom: 30px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: rgb(16 15 33 / 61%);
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: rgb(16 15 33 / 61%);
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: rgb(16 15 33 / 61%);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: lighgray;
    -webkit-
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label {
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }


/*                 Header              */
.header{
  opacity:0;
overflow: hidden;
width:100%;
max-height: 100px;
height: 100%;
background: #829b9c;
display: flex;
box-shadow: 0 1px 10px 1px rgb(100, 100, 100);
transition: 1s all;
}

.name{
    margin: 0 4%;
    

}

.name ul{
    list-style: none;
    transition: .3s all;
}

.name ul a li{
    padding:30px;
    transition: .3s all;
    align-items: flex-end;
    transform: translateX(10px);
    

}

.name ul a{
    text-decoration: none;
    color: rgb(16 15 13 / 71%);
    font-weight: 1000;
    font-size: 22px;


}



.name ul:hover ~ .line{
    transform: translateY(-30px);
    border-top: 2px solid rgb(16 15 13 / 45%);

}



.header__right{
  transform: translateX(-15px);
    margin: auto;
    width:100%;
    align-items: flex-end;

}
.header__right ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.header__right ul a{
text-decoration: none;
color: rgba(224, 219, 225, 1);
font-weight: 500;
transition: .12s all;
 border-radius: 20px;

}

.header__right ul a li{
    padding: 30px;
    transition: .22s all;
    color:rgb(49 71 92);
   

}



.name ul:hover{
    transform: translateX(-5%);

}



.header__right ul a li:hover{
    transform: scale(1.1);
    color: white;

}

#selected{
    transform: scale(1.1);
   
}

/*                                      FIN HEADER                                         */


/*                                      SKILLS BAR                                            */
.skills{margin-top:50px;}
.skills p{
 
  margin-top: 15px;
  margin-left: 23%;
  align-self: center;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 5px;
}

.skillsBars {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
  margin-bottom: 0px;
}

.skillset {
	margin-top: 50px;
}

.skill-lockup {
	max-width: 450px;
	width: 100%;
	float: left;
	margin-right: 40px;
}

.mr {
	margin-right: 0;
}

.mb {
	margin-bottom: 5px;
}

.skill-info {
	display: block;
	margin-bottom: 20px;
}

.skill-name {
	float: left;
	color: rgb(37, 37, 37);
}

.skill-status {
	float: right;
	color: #c4c4c4;
	font-size: .8em;
}
.skill-bar {
	display: block;
	max-width: 450px;
	width: 100%;
	height: 5px;
	background: #FFF;
	clear: both;
	margin: 20px 0;
}

.skill-level {
	display: table;
	height: 5px;
}
.communication, .planning,
.learning, .programming,
.visual-design, .ux-design {
	background: #829b9c;
}

.communication {
	width: 80%;
	-webkit-animation: communication 2s linear;
	animation: communication 2s linear;
}

.planning {
	width: 69%;
	-webkit-animation: planning 2s linear;
	animation: planning 2s linear;
}

.learning {
	width: 84%;
	-webkit-animation: learning 2s linear;
	animation: learning 2s linear;
}

.programming {
	width: 77%;
	-webkit-animation: programming 2s linear;
	animation: programming 2s linear;
}

.visual-design {
	width: 60%;
	-webkit-animation: visual-design 2s linear;
	animation: visual-design 2s linear;
}

.ux-design {
	width: 82%;
	-webkit-animation: ux-design 2s linear;
	animation: ux-design 2s linear;
}



@-webkit-keyframes communication {
	0% { width: 0%; }
  90%{width: 77%;}
	100% { width: 82%; }
}

@keyframes communication {
	0% { width: 0%; }
  90%{width: 77%;}
	100% { width: 82%; }
}

@-webkit-keyframes planning {
	0% { width: 0%; }
  90%{width: 62%;}
	100% { width: 65%; }
}

@keyframes planning {
	0% { width: 0%; }
  90%{width: 62%%;}
	100% { width: 65%; }
}

 
@-webkit-keyframes learning {
	0% { width: 0%; }
  90%{width: 77%;}
  100%{ width: 82%; }
}

@keyframes learning {
  0% { width: 0%; }
  90%{width: 72%;}
  100%{ width: 82%; }
}



@-webkit-keyframes programming {
	0% { width: 0%; }
  90%{width: 72%;}
  100%{ width: 75%; }
}


@keyframes programming {
	0% { width: 0%; }
  90%{width: 72%;}
  100%{ width: 75%; }
}



@-webkit-keyframes visual-design {
	0% { width: 0%; }
  90%{width: 57%;}
  100%{ width: 60%; }
}


@keyframes visual-design {
	0% { width: 0%; }
  90%{width: 57%;}
  100%{ width: 60%; }
}


@-webkit-keyframes ux-design {
	0% { width: 0%; }
  90%{width: 79%;}
  100%{ width: 83%; }
}

@keyframes ux-design {
	0% { width: 0%; }
  90%{width: 79%;}
  100%{ width: 83%; }
}




@media screen and (max-width: 955px) {
	.skillset {
		padding: 20px;
	}
	.skill-lockup {
		max-width: 700px;
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.skill-bar {
		max-width: 700px;
		width: 100%;
	}
}



/*                                    FIN SKILLS BAR                                          */
.aboutMe{ display:block;
   
}


.container{
    box-shadow: 0px 0px 0px 0px gray;
    background: transparent;
    max-width:100%;
    margin: 5%;
    border-radius: 7px;
    margin-top: 150px;

}



.myName{
margin: 5%;}


.myNameP {
    color: rgb(16 15 33 / 87%);
    align-self: flex-start;
    margin-left: 8%;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 27px;
    margin-bottom: 7px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    border-right: 0.15em solid #transparent;
    animation: typing 5s steps(20) 1s 1 normal both, blink 1s steps(1) ;
}

.myNameP > span{
  font-family: 'Manrope', sans-serif;
  transition: 2s all
}

@keyframes typing {
    0%{width: 0;}
    10%{width: 10%;}
    20%{width: 20%;}
    30%{width: 30%;}
    38%{width: 40%;}
    42%{width: 45%;}
    50%{width: 50%;}
    60%{width: 58%;}
    68%{width: 71%;}
    80%{width: 80%;}
    92%{width: 90%;}
    100% {width: 100%;
      border: 0;
    }
}
 /*                    SOCIAL BAR FOOTER                 */
.social{
}









.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #3f345f;
}

h2 {
  font-size: 36px;
}

.social-overlap {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.social-bar {width: 100%;
  margin-left: 5%;
  display: flex;
  border-radius: 10px;
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 0 60px rgba(93, 70, 232, 0.15);
  border: 1px solid#ebe9e9;
}


.iconpad:first-of-type {
  margin-left:33%;}
  .iconpad{
  padding: 12px 0;
  width: 100%;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #e4ded7;
  cursor: pointer;
  transition: all .4s ease;
}

.social-icons a {
  border-radius: 50px;
  color: #3f345f;
  display: inline-block;
  line-height: 52px;
  height: 50px;
  width: 50px;
  box-shadow: 0 3px 20px rgba(255, 255, 255, .1);
  margin: 23px;
  font-size: 22px;
}

a {
  text-decoration: none !important;
  color: #3f345f;
  transition: all 0.3s ease 0s;
}

.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}



/*socil*/
.slider-nav{
      display: flex;
}

.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all .4s ease;

}
.slider-nav-item:before
{
      position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

  .process-scetion .slider-nav-item:nth-child(2) {
    color: #40beff; }
  .process-scetion .slider-nav-item:nth-child(3) {
    color: #311f9b; }
  .process-scetion .slider-nav-item:nth-child(4) {
    color: #ff9259; }
  .process-scetion .slider-nav-item:nth-child(5) {
    color: #38385f; }
  .process-scetion .slider-nav-item:after {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 2px;
    content: '';
    width: 100%;
    background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0 0;
    z-index: 0;
    animation: slide 1s linear infinite; }
  .process-scetion .slider-nav-item:last-child:after {
    display: none; }
  .process-scetion .slider-nav-item .ikon {
    font-size: 50px;
    line-height: 80px; }


 
    .process-scetion .slider-nav-item.active:before {
      position: absolute;
      content: "";
      height: calc(100% + 16px);
      width: calc(100% + 16px);
      top: -8px;
      left: -8px;
      border-radius: 50%;
      border: 1px solid rgba(132, 132, 164, 0.35);
      animation: 1.5s linear 0s normal none infinite focuse; }

@keyframes focuse {
0% {
  transform: scale(0.8);
  opacity: 1; }
75% {
  transform: scale(1.2);
  opacity: 0; }
100% {
  transform: scale(1.2);
  opacity: 0; } }
@keyframes slide {
from {
  background-position: 0 0; }
to {
  background-position: 40px 0; } }

.shadow-img1{
  background-image:url("../img/shadow.png");
  background-repeat:no-repeat;
  background-position:bottom;
}

.shadow-img2{
      background-position: bottom;
  background-image: url("../img/shadow2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}


.slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: '';
  width: 100%;
  background: url(https://1.bp.blogspot.com/--Btu5p654jU/XYmrVd5IcYI/AAAAAAAATQ0/4bX8aZyFBgApbJUf90KrpCfO6RvAaZ6LgCLcBGAsYHQ/s1600/line.png) repeat 0 0;
  z-index: 0;
  animation: slide 1s linear infinite;
}
.mt100{margin-top:70px;}




@-webkit-keyframes jello-horizontal {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}
@keyframes jello-horizontal {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}


.jello-horizontal {
-webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
}

.social-bar a:hover i
{
-webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
}


@media only screen and (max-width: 300px) {
.process-scetion .slider-nav-item
{
  height: 30px;
  width: 30px;
  margin: 15px 10px;
  line-height: 28px;
}
}


/*                        FIN SOCIAL BAR FOOTER                               */
.container .myName .subtitle{
    font-size: 17px;
    margin: 2%;
   
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}


.container .abmeData{

    margin-left: 35%;
    max-width: 600px;
    align-items: flex-start;
    font-size: 18px;

}

.form{width:70%;
  
  height: 500px;
  max-height:700px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin: 35px  auto;
  padding:20px 30px;
  max-width:700px;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
}

.form label{
  font-family: 'Manrope',sans-serif;
  font-weight: 400;
  color:gray;
}
.form h2{margin:10px 0;padding-bottom:10px;width:230px;color:#78788c;border-bottom:3px solid #78788c;margin-bottom: 25px;}
.form h2:hover{
  transform: translateX(5px);
}

.form label:hover{
  transform: translateX(3px);
}
.form input{width:100%;
  padding:10px;
  font-size:15px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Poppins',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
  margin-bottom: 20px;
}
.form input :focus{border-bottom:2px solid #78788c}
.form label :before{content:attr(type);display:block;margin:28px 0 0;font-size:16px;color:#5a5a5a}
.form > .btnSend{
  text-align: center;
  margin-bottom: 20px;
  float:right;
  transform: translateY(40px);
  border-radius:7px;
  padding:8px 12px;
  margin:auto;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;transition:all .7s;
}
.form > .btnSend:hover{background:#78788c;
  color:#fff;
}


.body .git{
  margin-top: 75px;
  align-items: center;
  display:inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.git .myGithub{
  margin-left: 10%;
  display:flex;
  font-family: 'Manrope',sans-serif;
  font-weight: 800;
  font-size: 18px;
  
  
}


.myGithub > a{
  min-width: 25px;
  max-width: 45px;
}
.git .myGithub a .logoGithub {
  display:flex;
  
  width: 100%;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 7px 2px #bebed2;
  transition: .7s all;
  cursor:pointer;
  margin-right: 12px;
}

.git .myGithub a .logoGithub:hover {
  transform: scale(1.15);

}

.seeMore{transform: translateY(25px);
  width: 90%;
  font-family: 'Manrope',sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.seeMore p{
  font-size: 18px;
  margin-left:25%;
}

@media screen and (max-width:1100px){

#languages{
margin-left:50%;
}

@media screen and (max-width:960px){
  .container .info > p{
    font-size: 16px;
  }
  .skills{
    width: 100%;
    
  }
  
  .myNameP{
    font-size: 23px;
    animation: typing 2.5s steps(20) 1s 1 normal both, blink 1s steps(1);
  }
    .form h2{
      font-size: 17px;
      width: 107px;
    }
    .form label{
      font-size: 14px;
    }
    .form input{
      font-size: 13px;
    }
  .body .git{margin-top:0;}

.container .abmeData{
  margin-left: 15%; 
}

@media screen and (max-width:800px) {

  .container .myName .subtitle{
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .info{
    margin-top: 40px;
  }
  .git .myGithub {
    margin-left:5%;
    font-size:15px;
  }
  
  .seeMore p{
  font-size: 16px;}
  .iconpad:first-of-type {
    margin-left: 15%;
  }

    .header__right ul{
        display:flex;
        justify-content: flex-end;
    }
    .header__right ul a li{
        font-size: 10px;
        width: auto;
        padding:3px;
        margin:5px;
        
    }

    .skills{
      margin-top:30px;
    }
  

    .name {margin:0;}
    .header .name ul a li {
        font-size:16px;
        padding:20px;
    }

    .line {
        transform: translateY(2px);
        transition: .5s all;
        margin-left:33px;
        width: 100px;
      
      
      }
      .name ul:hover ~ .line{
        
        transform: translateY(-17px);
        border-top: 2px solid rgba(44, 40, 34, 0.41);
    
    }
    
    @media screen and (max-width:560px){
	    
	   
      .social-icons a {
      margin:5%;
      }
      .git .myGithub {
        margin-left:12px;
        font-size: 12px;

            }

            

            .git .myGithub .logoGithub{margin-left:10px;}      
      

            @media screen and (max-width:400px){
              .git .myGithub {
                margin-left:5%;
                font-size: 12px;
        
                    }
              .git .myGithub .logoGithub{margin-left:0;}      
                  }               

            
    }
}
}}

.spanish{
  transition: .5s all
}
.english{
  transition: .5s all
}


.nonseen{opacity:0;
display: none;}
